.tb-indic {
	display: block;
	background: url(images/loading.gif) no-repeat left center;
	padding-left: 20px;
	z-index: 214;
	font-size: 12px;
	color: #000;
}

.tb-indic-shim {
	position: absolute;
	z-index: 10;
	display: none;
	background: #ccc;
	opacity: .8;
	filter: alpha(opacity=80);
}

.tb-indic-shim-iframe {
	position: absolute;
	z-index: 11;
	display: none;
	border: none;
	opacity: 0;
	filter: alpha(opacity=0);
}